<div [ngClass]="{'w-4 h-4': small, 'w-8 h-8': !small}"
class=" border-4 border-surface-container border-t-primary rounded-full animate-spin"></div>

 <!-- <div class="flex gap-6 items-center">
          
          <div
            class="w-8 h-8 border-4 border-surface-container border-t-secondary border-r-secondary/30 rounded-full animate-spin">
          </div>
          <div class="flex items-center gap-1">
            <div class="w-2 h-2 bg-primary rounded-full animate-bounce [animation-delay:-0.3s]"></div>
            <div class="w-2 h-2 bg-primary rounded-full animate-bounce [animation-delay:-0.15s]"></div>
            <div class="w-2 h-2 bg-primary rounded-full animate-bounce"></div>
          </div>
        </div> -->