@font-face{
    src: url("../public/fonts/MaterialSymbolsOutlined-Regular.ttf");
    font-family: "MaterialSymbols";
}
@font-face{
    src: url("../public/fonts/Inter/Inter-VariableFont_opsz.ttf");
    font-family: "Inter";
}

@import 'tailwindcss';

@theme {
  /* Dark Mode Strategy */
  --variant-dark: .dark &;

  /* Custom Colors */
  --color-primary: #0061a3;
  --color-secondary-container: #ef9efe;
  --color-primary-container: #007acc;
  --color-primary-fixed-dim: #9fcaff;
  --color-tertiary-fixed: #e4e2e2;
  --color-outline: #707883;
  --color-surface-container-low: #f3f3f3;
  --color-on-error: #ffffff;
  --color-secondary: #884099;
  --color-background: #f9f9f9;
  --color-surface: #f9f9f9;
  --color-on-primary-container: #ffffff;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-on-surface-variant: #404751;
  --color-tertiary: #5e5e5e;
  --color-secondary-fixed: #fdd6ff;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #464747;
  --color-on-primary: #ffffff;
  --color-surface-tint: #0061a4;
  --color-on-secondary-fixed-variant: #6d277f;
  --color-on-background: #1a1c1c;
  --color-tertiary-fixed-dim: #c8c6c6;
  --color-inverse-primary: #9fcaff;
  --color-surface-dim: #dadada;
  --color-surface-container: #eeeeee;
  --color-inverse-surface: #2f3131;
  --color-tertiary-container: #777676;
  --color-on-primary-fixed: #001d36;
  --color-inverse-on-surface: #f1f1f1;
  --color-surface-bright: #f9f9f9;
  --color-outline-variant: #c0c7d3;
  --color-surface-variant: #e2e2e2;
  --color-on-error-container: #93000a;
  --color-on-secondary: #ffffff;
  --color-surface-container-high: #e8e8e8;
  --color-on-tertiary: #ffffff;
  --color-primary-fixed: #d1e4ff;
  --color-on-tertiary-container: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-on-primary-fixed-variant: #00497d;
  --color-on-secondary-fixed: #340042;
  --color-secondary-fixed-dim: #f4aeff;
  --color-on-secondary-container: #722b84;
  --color-error-container: #ffdad6;

  
  --color-success: #16a34a;
  --color-warning: #d97706;

  /* Font Families */
  --font-headline: "Inter", ui-sans-serif, system-ui;
  --font-body: "Inter", ui-sans-serif, system-ui;
  --font-label: "Inter", ui-sans-serif, system-ui;

  /* Border Radii */
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

*{
    scrollbar-width: 8px;
}

body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c0c7d3;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #707883;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c0c7d3;
    border-radius: 10px;
}

.material-symbols-outlined {
    font-family: "MaterialSymbols";
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.glass-overlay {
    backdrop-filter: blur(4px);
    background-color: rgba(26, 28, 28, 0.4);
}

.sdfsds{
     --variant-dark: .dark &;

  /* Custom Colors */
  --color-primary: #0061a3;
  --color-secondary-container: #ef9efe;
  --color-primary-container: #007acc;
  --color-primary-fixed-dim: #9fcaff;
  --color-tertiary-fixed: #e4e2e2;
  --color-outline: #707883;
  --color-surface-container-low: #f3f3f3;
  --color-on-error: #ffffff;
  --color-secondary: #884099;
  --color-background: #f9f9f9;
  --color-surface: #f9f9f9;
  --color-on-primary-container: #ffffff;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-on-surface-variant: #404751;
  --color-tertiary: #5e5e5e;
  --color-secondary-fixed: #fdd6ff;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #464747;
  --color-on-primary: #ffffff;
  --color-surface-tint: #0061a4;
  --color-on-secondary-fixed-variant: #6d277f;
  --color-on-background: #1a1c1c;
  --color-tertiary-fixed-dim: #c8c6c6;
  --color-inverse-primary: #9fcaff;
  --color-surface-dim: #dadada;
  --color-surface-container: #eeeeee;
  --color-inverse-surface: #2f3131;
  --color-tertiary-container: #777676;
  --color-on-primary-fixed: #001d36;
  --color-inverse-on-surface: #f1f1f1;
  --color-surface-bright: #f9f9f9;
  --color-outline-variant: #c0c7d3;
  --color-surface-variant: #e2e2e2;
  --color-on-error-container: #93000a;
  --color-on-secondary: #ffffff;
  --color-surface-container-high: #e8e8e8;
  --color-on-tertiary: #ffffff;
  --color-primary-fixed: #d1e4ff;
  --color-on-tertiary-container: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-on-primary-fixed-variant: #00497d;
  --color-on-secondary-fixed: #340042;
  --color-secondary-fixed-dim: #f4aeff;
  --color-on-secondary-container: #722b84;
  --color-error-container: #ffdad6;
}